@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply px-5 py-2 rounded-md shadow-sm transition duration-300;
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
